/.agents
/.metadata
/1.Reference
/draft.drawio.png
/DroneArchitecture.drawio
/Electronic components.docx
/flight_controller_architecture 1.md
/flight_controller_architecture.md
/flight_controller_architecture_eskf.md
/flight_controller_architecture_freertos.md
/flight_controller_math.md
/flight_controller_math_eskf.md
/Đề cương Kiến trúc Flight Controller.docx